<div class="container">
  <div class="row">
    <div class="col-3 offset-4">
      <form #formulario="ngForm" (ngSubmit)="enviarDatos(formulario)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required
            #nombre="ngModel">
          <p *ngIf="nombre.invalid && nombre.dirty" class="error">Por favor, rellena este campo.</p>
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos</label>
          <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="persona.apellidos"
            required #apellidos="ngModel">
          <p *ngIf="apellidos.invalid && apellidos.dirty" class="error">Por favor, rellena este campo.</p>
        </div>
        <div class="form-group">
          <label for="profesion">Profesión</label>
          <select id="profesion" name="profesion" [(ngModel)]="persona.profesion" class="form-control" required
            #profesion="ngModel">
            <option value="">Selecciona profesión</option>
            <option *ngFor="let profesion of profesiones" [value]="profesion.id">{{profesion.nombre}}</option>
          </select>
          <p *ngIf="profesion.invalid && profesion.dirty" class="error">Por favor, rellena este campo.</p>
        </div>
        <div class="form-check form-group">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="acepta" [(ngModel)]="acepta" required
              #aceptaForm="ngModel">
            Acepto las condiciones de uso
          </label>
          <p class="error" *ngIf="aceptaForm.invalid && aceptaForm.dirty">Por favor, acepta las condiciones de uso.</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
  <p>Vas a enviar los siguientes datos: {{persona | json}}</p>
  <p *ngIf="acepta">Has aceptado las condiciones</p>
  <p *ngIf="!acepta">No has aceptado las condiciones, pero no te vas a librar</p>
</div>
